
<table class="pretty">
  <thead>
    <tr>
      <th><%= sortable "name" %></th>
      <th><%= sortable "team" %></th>
      <th><%= sortable "position" %></th>
      <th><%= sortable "points_per_fc_touch" %></th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.team %></td>
        <td><%= player.position %></td>
        <td><%= player.points_per_fc_touch %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @players %>
