<!DOCTYPE html>
<html>
<head>
  <title>PlayerDashboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <link rel="shortcut icon" href="https://dl.dropboxusercontent.com/s/xup7s8wvgop92m6/bball.jpg?dl=0">



  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>

</body>
</html>
